<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Homeservlet</display-name>
    <servlet-name>Homeservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Homeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homeservlet</servlet-name>
    <url-pattern>/Homeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menuservlet</display-name>
    <servlet-name>Menuservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Menuservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menuservlet</servlet-name>
    <url-pattern>/Menuservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.tap.logincontroller.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.tap.logincontroller.CartServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlogin</display-name>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>com.tap.logincontroller.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userloginservlet</display-name>
    <servlet-name>Userloginservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Userloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userloginservlet</servlet-name>
    <url-pattern>/Userloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerservlet</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertservlet</display-name>
    <servlet-name>Insertservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Insertservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertservlet</servlet-name>
    <url-pattern>/Insertservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clearcartservlet</display-name>
    <servlet-name>Clearcartservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Clearcartservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clearcartservlet</servlet-name>
    <url-pattern>/Clearcartservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkoutservlet</display-name>
    <servlet-name>Checkoutservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Checkoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkoutservlet</servlet-name>
    <url-pattern>/Checkoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkoutservlet</display-name>
    <servlet-name>checkoutservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.checkoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutservlet</servlet-name>
    <url-pattern>/checkoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tablesdataservlet</display-name>
    <servlet-name>Tablesdataservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.Tablesdataservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tablesdataservlet</servlet-name>
    <url-pattern>/Tablesdataservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emptyservlet</display-name>
    <servlet-name>emptyservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.emptyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emptyservlet</servlet-name>
    <url-pattern>/emptyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryservlet</display-name>
    <servlet-name>OrderHistoryservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.OrderHistoryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryservlet</servlet-name>
    <url-pattern>/OrderHistoryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderTableservlet</display-name>
    <servlet-name>OrderTableservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.OrderTableservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderTableservlet</servlet-name>
    <url-pattern>/OrderTableservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>com.tap.logincontroller.emptyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emptyTableservlet</display-name>
    <servlet-name>emptyTableservlet</servlet-name>
    <servlet-class>com.tap.logincontroller.emptyTableservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emptyTableservlet</servlet-name>
    <url-pattern>/emptyTableservlet</url-pattern>
  </servlet-mapping>
</web-app>